h1 {
    text-align: center;
}

header {
    padding: 10px;
    text-align: left;
    background: #1abc9c;
    font-size: 15px;
}

footer {
    padding: 0px;
    text-align: center;
    background: #1abc9c;
    font-size: 15px;
}